<p>This is a test for custom component</p>

<p>Assignment 2 </p>
<label>Username</label>
<input type="text" class="form-input" [(ngModel)] = "Username">
<hr>
<p>{{Username}}</p>
<button class="btn btn-primary" [disabled] = "Username === ''" (click) ="onResetUsername()"
>Reset Username</button>

<hr>

<p>Assignment 3</p>

<!-- <button class="btn btn-primary" (click)="showSecret = !showSecret" >Display Details</button> -->
<button class="btn btn-primary" (click)="onToggleDetails()" >Display Details</button>
<p *ngIf = "showSecret">Secret Password = Tuna</p>
<div *ngFor= "let logItem of log; let i = index"
 [ngStyle]= "{backgroundColor: i>=4 ? 'blue': 'transparent'}"
 [ngClass] = "{'white-text': i>=4}"
> {{logItem}}</div>


